// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

//colors
$brand-primary:         #0076a9; //brand blue
$brand-green: 			#79b243; // green
$brand-orange:			#f7901e; //orange;
$brand-gray:			#48484a; // dark gray

//text
$main-font-color:		#231f20; //lighter black


//typography
$primary-font:			'Fira Sans', sans-serif;
$secondary-font:		"myriad-pro", sans-serif;

//links 

$link-color:			#79b243;


// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

//subnav colors

$colors: #4698cb, #0376a8, #005587;